.main {
    border-left: 1px;
    border-style: solid;
    border-color: var(--c-border);

}
@media (--m) {
    .main {
        border-left: 0;
        border-style: solid;
        border-color: var(--c-border);
    }

}
@media (--t) {
    .main {
        border-left: 1px;
        border-style: solid;
        border-color: var(--c-border);
    }

}
@media (--d) {
    .main {
        border-left: 1px;
        border-style: solid;
        border-color: var(--c-border);
    }

}

